footer {
  background-color: #68a097;
  padding: 40px 0 50px 0;
}

.footer-socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social-icon {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 30px;
  border-radius: 50%;
  background-color: #82c8bd;
  width: 60px;
  height: 60px;
  text-align: center;
  margin-right: 10px;
  padding: 13px;
  &:hover {
    -webkit-filter: opacity(30%);
  }
}

@media screen and (min-width: 768px) {
  .social-icon {
    margin-right: 40px;
  }
}