.services {
  background: url("../img/services_bg.png") no-repeat center top/cover;
  padding-bottom: 110px;
}

.services-text {
  text-align: center;
}

.menu-services {
  display: flex;
  li {
    display: inline;
    padding: 25px 20px 15px 25px;
    &:hover {
      padding: 25px 20px 15px 25px;
      background-color: #df5c64;
      border-radius: 5%;
      margin-top: -2px;
    }
  }
}

h2 {
  color: #fff;
  font-family: $font-text;
  font-size: 60px;
  font-weight: 300;
  text-transform: uppercase;
  padding-bottom: 45px;
}

h3 {
  color: #fff;
  font-family: $font-text;
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  padding-bottom: 50px;
  padding-top: 35px;
}

@media screen and (min-width: 768px) {
  h3 {
    font-size: 20px;
  }
}

.subtitle {
  color: #fff;
  font-family: $font-text;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 20px;
  line-height: 25px;
}

.lobortis {
  color: #ec9da2;
}

.services-lead {
  color: #ffcccf;
  font-family: $font-text;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 120px;
}

.circle {
  display: block;
  margin: 0 auto;
  padding: 20px;
  font-size: 70px;
  color: #c45158;
}

.services-list {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .services-list {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.item-desc {
  color: #fefefe;
  font-family: $font-text;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.services-list-item {
  background-color: #c8535a;
  opacity: 0.8;
  margin: 0 0 15px 0;
  padding: 40px 20px;
}

@media screen and (min-width: 768px) {
  .services-list-item {
    margin: 0 10px 15px 0;
    flex-basis: 30%;
  }
}

@media screen and (min-width: 1024px) {
  .services-list {
    flex-wrap: nowrap;
  }
  .services-list-item {
    margin: 0 20px 15px 0;
    flex-basis: 25%;
  }
}